* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #222E35;
}

#search-main-container {
    border: 1px solid white;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */


}

.search-inner-container {
    border: 1px solid white;
    height: 70%;
    width: 70%;
    align-self: center;
    display: flex;
    justify-content: space-around;


}


.search-icon {
    border: 1px solid white;
    height: 80%;
    width: 30%;
    align-self: center;
}

.search-input-box {
    border: 1px solid white;
    height: 80%;
    width: 60%;
    align-self: center;

}

.search-unread-filter-container {
    border: 1px solid white;
    height: 70%;
    width: 25%;
    align-self: center;
    display: flex;
    justify-content: space-around;
}

.search-unread-filter-icon {
    border: 1px solid white;
    height: 80%;
    width: 80%;
    align-self: center;
}